/* --------------------- Google Fonts --------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,700;1,800&display=swap');


:root {
    --ff-Lobster: 'Lobster', cursive;
    --primary-color: #7857fe;
    --white-color: #ffffff;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --primary-to-dark-color: var(--primary-color);
    --dark-to-primary-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 35px rgba(0, 0, 0, 0.3);
    --black--color-900: #000000;
    --black--color-400: #555555;
    --black--color-100: #f7f7f7;
    --black--color-000: #ffffff;
    --black--alpha-100: rgba(0, 0, 0, 0.05);
}


/* --------------------- Global css --------------------- */
* {
    margin: 0;
    padding: 0;
    outline: none !important;
    border: none;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background-color: var(--white-color);
    line-height: 1.6;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}
ul {
    list-style-type: none;
}
img {
    max-width: 100%;
    vertical-align: middle;
}


/* --------------------- Utilities css --------------------- */
.btn--download,
.btn--play {
    padding: 14px 32px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: none;
    border-radius: 30px;
    display: inline-block;
    text-transform: capitalize;
    transition: all 0.4s linear;
    font-size: 16px;
    box-shadow: var(--shadow-black-300);
    text-underline-offset: 4px;
}
.btn--download:focus,
.btn--play:focus {
    box-shadow: var(--shadow-black-300);
}
.btn--download:hover,
.btn--play:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn--download-2 {
    padding: 14px 32px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 30px;
    display: inline-block;
    text-transform: capitalize;
    transition: all 0.4s linear;
    font-size: 16px;
    box-shadow: var(--shadow-black-300);
    text-underline-offset: 4px;
}
.btn--download-2:focus {
    box-shadow: var(--shadow-black-300);
}
.btn--download-2:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
}

.section__title {
    font-size: 36px;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--black--color-900);
    letter-spacing: 1.2px;
}
.section__title span {
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
}
.section-padding {
    padding: 80px 0;
}


/* --------------------- Header section css --------------------- */
.navbar {
    background-color:transparent;
    padding: 20px 0;
    transition: all 0.5s linear;
}
.navbar.navbar-shrink {
    background-color: var(--primary-color);
    box-shadow: var(--shadow-black-300);
    padding: 10px 0;
}
.navbar > .container {
    padding: 5px 0;
}
.navbar .navbar-brand {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}
.navbar-nav .nav-item {
    margin-left: 25px;
}
.navbar-nav .nav-item .nav-link {
    font-size: 18px;
    font-weight: 400;
    color: var(--white-color);
    text-transform: capitalize;
    padding: 5px;
    position: relative;
}
.navbar-nav .nav-item .nav-link::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    transition: all 0.4s linear;
    transform: scale(0);
    background-color: var(--white-color);
}
.navbar-nav .nav-item .nav-link:hover::before,
.navbar-nav .nav-item .nav-link.active::before {
    transform: scale(1);
}


/* --------------------- Home section css --------------------- */
.home-section {
    background-color: var(--primary-to-dark-color);
    min-height: 100vh;
    padding: 150px 0;
    position: relative;
    z-index: 1;
    border-radius: 0 0 170px 0;
}
.home-section .effect-wrapper .effect {
    position: absolute;
    z-index: -1;
}
.effect-wrapper .effect--1 {
    top: 20%;
    left: 20%;
    color: var(--color-2);
    font-size: 28px;
    animation: spin_01 4s linear infinite;
}
.effect-wrapper .effect--2 {
    top: 10%;
    right: 10%;
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    animation: spin_01 4s linear infinite;
}
.effect-wrapper .effect--3 {
    bottom: 20%;
    left: 10%;
    color: var(--color-3);
    font-size: 30px;
    animation: bounce_spin_01 4s linear infinite;
}
@keyframes bounce_spin_01 {
    0% {
        transform: rotate(0deg) translateY(30px);
    }
    60% {
        transform: rotate(180deg) translateY(0px);
    }
    100% {
        transform: rotate(360deg) translateY(30px);
    }
}

.home-content__text h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: capitalize;
}
.home-content__text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: 0;
}
.home__img img {
    max-width: 250px;
    width: 100%;
    box-shadow: var(--shadow-black-300);
    border-radius: 32px;
    animation: bounce_01 3s linear infinite;
}
@keyframes bounce_01 {
    0%, 100% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(0px);
    }
}

.home__img {
    position: relative;
}
.home__img .home__circle {
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home__img .home__circle::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transform-origin: 170px 170px;
    animation: spin_01 10s linear infinite;
}
@keyframes spin_01 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.home-content__btns .video-btn-play {
    padding: 14px 20px;
    animation: pulse_01 2s ease infinite;
}
@keyframes pulse_01 {
    0% {
        transform: scale(0.93);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    60% {
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.93);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }
}

.home-content__btns .video-btn-play i {
    font-size: 18px;
}

.home-content__btns .video-btn-play:hover {
    animation: none;
    box-shadow: var(--shadow-black-300);
}
.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s linear;
    padding: 25px;
}
.video-popup.open {
    opacity: 1;
    visibility: visible;
}
.video-popup__inner {
    width: 100%;
    max-width: 900px;
    position: relative;
}
.video-popup__inner .iframe-box {
    height: 0;
    overflow: hidden;
    padding-top: 62.5%;
}
.video-popup__inner .iframe-box #play-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.video-popup__inner .iframe-box .btn--close-video {
    position: absolute;
    top: -36px;
    right: -10px;
    width: 36px;
    height: 36px;
    color: var(--white-color);
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}


/* --------------------- Features section css --------------------- */
.features-item {
    margin: 15px;
}
.features-item .card {
    box-shadow: var(--shadow-black-100);
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.features-item .card::before,
.features-item .card::after {
    position: absolute;
    z-index: -1;
    content: "";
    border-radius: 50%;
    transition: all 0.5s ease;
    opacity: 0;
}
.features-item .card::before {
    width: 20px;
    height: 20px;
    left: -20px;
    top: 42%;
    background-color: var(--color-1);
}
.features-item:hover .card::before {
    left: 10px;
    opacity: 1;
}
.features-item .card::after {
    width: 30px;
    height: 30px;
    right: -30px;
    top: 80%;
    background-color: var(--color-2);
}
.features-item:hover .card::after {
    right: -10px;
    opacity: 1;
}
.features-item .features-item__icon {
    width: 60px;
    height: 60px;
    margin: 0px auto 20px;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
}
.features-item .features-item__icon::before {
    position: absolute;
    content: "";
    top: 0;
    left: 105%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--primary-color);
    transition: all 0.5s ease;
    opacity: 0;
}
.features-item:hover .features-item__icon::before {
    left: 0;
    border-radius: 50%;
    opacity: 1;
}
.features-item:hover .features-item__icon i {
    color: var(--white-color);
    font-size: 20px;
    transition-delay: 0.2s;
}
.features-item i {
    color: var(--primary-color);
    font-size: 26px;
    line-height: 60px;
    transition: all 0.5s ease;
}
.features-item .features-item__title {
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    margin: 15px 0;
    color: var(--black--color-900);
}
.features-item p {
    line-height: 1.8;
    padding: 0 5px;
}
.owl-carousel .owl-dots {
    padding: 0 20px;
    text-align: center;
    margin-top: 20px;
}
.owl-carousel .owl-dots button.owl-dot {
    width: 34px;
    height: 7px;
    border-radius: 15px;
    background-color: #dddddd;
    margin: 0 5px;
    display: inline-block;
}
.owl-carousel .owl-dots button.owl-dot.active {
    background-color: var(--primary-color);
}


/* --------------------- Fun-Facts section css --------------------- */
.fun-facts-section {
    background-color: #eee;
}
.fun-facts__img img {
    max-width: 250px;
    width: 100%;
    box-shadow: var(--shadow-black-100);
    border-radius: 32px;
    animation: bounce_01 4s linear infinite;
}
.fun-facts__item {
    margin-bottom: 30px;
}
.fun-facts__item .card {
    border-radius: 10px;
    box-shadow: var(--shadow-black-100);
}
.fun-facts__item .card h3 {
    font-size: 32px;
    font-weight: 700;
}
.fun-facts__item:nth-child(1) .card{
    background-color: var(--color-1);
}
.fun-facts__item:nth-child(2) .card{
    background-color: var(--color-2);
}
.fun-facts__item:nth-child(3) .card{
    background-color: var(--color-3);
}
.fun-facts__item:nth-child(4) .card{
    background-color: var(--primary-color);
}


/* --------------------- Screenshots section css --------------------- */
.screenshots__item {
    margin: 15px;
}
.screenshots__item img {
    width: 100%;
}


/* --------------------- Download-app section css --------------------- */
.download-section {
    background: url(./../images/download-app-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
.download-section::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.8;
    z-index: -1;
}
.download-item {
    border-radius: 10px;
    padding: 15px 5px;
}
.download-item__icon i {
    font-size: 28px;
    color: var(--primary-color);
}
.download-item__content h5 {
    font-size: 24px;
    font-weight: 500;
    margin: 25px 0 20px;
    color: var(--black--color-900);
}
.download-item__content p {
    font-size: 16px;
    font-weight: 400;
    color: var(--black--color-400);
    line-height: 1.7;
}


/* --------------------- How-it-works section css --------------------- */
.hows__item {
    padding: 20px;
    position: relative;
    z-index: 1;
}
.hows__item.line-height-style::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 46px;
    left: 52%;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);

}
.hows__item span {
    font-size: 26px;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 55px;
    height: 55px;
    display: inline-block;
    border-radius: 50%;
    line-height: 55px;
}
.hows__item h3 {
    font-size: 22px;
    color: var(--black--color-900);
    font-weight: 500;
    margin: 30px 0 18px;
}
.hows__item p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
}


/* --------------------- Testimonials section css --------------------- */
.testimoials-section {
    background-color: #eee;
}
.testimoials__item .card {
    padding: 33px 25px;
    background-color: transparent;
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
}
.testimoials__item .card .card-img-top {
    width: 95px;
    height: 95px;
    margin-bottom: 25px;
    
}
.testimoials__item .card .card-img-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}
.testimoials__item .card .card-img-top i {
    position: absolute;
    top: 50%;
    right: -10%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 23px;
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 13px;
    color: var(--white-color);
    transform: translateY(-50%);
    display: inline-block;
}
.testimoials__item .card .card-body p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
}
.testimoials__item .card .card-body h5 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 0px;
}
.testimoials__item .card .card-body span {
    font-size: 14px;
    font-weight: 300;
}
.testimoials__item .card .card-body .star-rating i {
    color: var(--color-2);
    font-size: 15px;
}


/* --------------------- Pricing section css --------------------- */
.pricing__item {
    box-shadow: var(--shadow-black-100);
}
.pricing__item .pricing-item__header {
    font-size: 28px;
    font-weight: 600;
    text-align: center;padding: 16px 20px;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
}
.pricing__item .pricing-item__body .pricing-item__price {
    padding: 25px 20px 25px;
    line-height: 0.7;
    font-weight: 300;
}
.pricing__item .pricing-item__body .pricing-item__price .currency {
    align-self: flex-start;
}
.pricing__item .pricing-item__body .pricing-item__price .price {
    font-size: 72px;
    font-weight: 700;
    color: var(--primary-color);
    display: inline-block;
    margin: 0 10px;
}
.pricing__item .pricing-item__body .pricing-item__price .period {
    font-size: 15px;
    align-self: flex-end;
    text-transform: uppercase;
}
.pricing__item .pricing-item__body .details {
    padding: 0px 25px;
    margin: 15px 0px 30px;
}
.pricing__item .pricing-item__body .details li:last-child {
    padding-bottom: 0px !important;
    border-bottom: none !important;
}
.pricing__item .pricing-item__body .details li {
    position: relative;
}
.pricing__item .pricing-item__body .details li i {
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 16px;
    color: var(--primary-color);
    width: 25px;
    height: 25px;
}
.pricing__item .pricing-item__body .details li p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    color: var(--black--color-400);
    padding-left: 25px;
}
.pricing__item .pricing-item__footer a.btn {
    margin-bottom: 10px !important;
    display: inline-block;
    box-shadow: var(--shadow-black-100);
}


/* --------------------- Teams section css --------------------- */
.teams-section {
    background-color: #eee;
}
.teams__item {
    margin: 15px;
    box-shadow: var(--shadow-black-100);
    cursor: pointer;
    border-radius: 15px !important;
    overflow: hidden;
}
.teams__item .card-body h6 {
    font-size: 20px;
    font-weight: 500;
}


/* --------------------- Faq section css --------------------- */
.faq-section .accordion-item:not(:last-child) {
    margin-bottom: 30px;
}
.faq-section .accordion-header {
    padding: 20px 50px 20px 30px;
    box-shadow: var(--shadow-black-100);
    border-radius: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative;
}
.faq-section .accordion-header::before {
    content: "\002B";
    position: absolute;
    font-weight: 600;
    font-size: 28px;
    right: 10px;
    color: var(--black--color-400);
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s ease;
}
.faq-section .accordion-header h4 {
    font-size: 18px;
    color: var(--black--color-400);
    font-weight: 500;
    margin: 0;
    transition: all 0.5s ease;
}
.faq-section .accordion-header:not(.collapsed) {
    background-color: var(--primary-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.faq-section .accordion-header:not(.collapsed):before {
    content: "\002D";
    color: var(--white-color);
}
.faq-section .accordion-header:not(.collapsed) h4 {
    color: var(--white-color);
}
.faq-section .accordion-body {
    padding: 25px 20px 25px 40px;
    background-color: var(--black--color-100);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.faq-section .accordion-body p {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
}


/* --------------------- Contact section css --------------------- */
.contact-section {
    background-color: #eee;
}
.contact__info .contact-info__address .icon i,
.contact__info .contact-info__mail .icon i,
.contact__info .contact-info__phone .icon i {
    width: 46px;
    height: 46px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    color: var(--primary-color);
    display: inline-block;
    background-color: var(--white-color);
}
.form-contact .row .col-lg-6,
.form-contact .row .col-12 {
    margin-bottom: 15px;
}
.form-contact .row .col-lg-6 .form-control,
.form-contact .row .col-12 .form-control {
    padding: 26px 20px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    font-size: 15px;
    font-weight: 400;
    color: var(--black--color-900);
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}
.form-contact .row .col-lg-6 .form-control:focus,
.form-contact .row .col-12 .form-control:focus {
    border-color: var(--primary-color);
}
.form-contact .row .col-lg-6 .form-control::placeholder,
.form-contact .row .col-12 .form-control::placeholder {
    color: #999999;
    text-transform: capitalize;
}
.form-contact .row .col-12 textarea.form-control {
    max-height: 250px;
    height: 200px;
    resize: none;
}


/* --------------------- Footer section css --------------------- */
.footer {
    background-color: var(--primary-color);
    padding-bottom: 0;
}
.footer .row .col-lg-3 p {
    line-height: 1.8;
}
.footer .row .col-lg-3 p,
.footer .row .col-lg-3 ul.quicks-link li a {
    font-size: 15px;
    color: #ddd;
    font-weight: 300;
    display: inline-block;
    transition: all 0.4s ease;
}
.footer .row .col-lg-3 ul.quicks-link li {
    margin-bottom: 10px;
    transition: all 0.4s ease;
}
.footer .row .col-lg-3 ul.quicks-link li a:hover {
    color: var(--white-color);
    margin-left: 10px;
}
.footer .row .col-lg-3 ul.quicks-link li i {
    font-size: 13px;
    color: #ddd;
    margin-right: 5px;
    transition: all 0.4s ease;
}
.footer .row .col-lg-3 ul.quicks-link li a:hover ~ i {
    color: var(--white-color);
}
.footer ul.social-follow li {
    margin-right: 10px;
}
.footer ul.social-follow li a {
    width: 48px;
    height: 48px;
    background-color: var(--white-color);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all 0.5s ease;
}
.footer ul.social-follow li a i.fa-brands {
    font-size: 20px;
    color: var(--white-color);
}
.footer ul.social-follow li a:hover {
    border: 2px solid var(--white-color);
}
.footer ul.social-follow li:nth-child(1) a {
    background-color: #1877F2;
}   
.footer ul.social-follow li:nth-child(2) a {
    background-color: #0099FF;
}  
.footer ul.social-follow li:nth-child(3) a {
    background-color: #1DA1F2;
}  
.footer ul.social-follow li:nth-child(4) a {
    background-color: #E4405F;
}  
.footer ul.social-follow li:nth-child(1) a:hover {
    box-shadow: 0 5px 10px #1877F2;
}   
.footer ul.social-follow li:nth-child(2) a:hover {
    box-shadow: 0 5px 10px #0099FF;
}  
.footer ul.social-follow li:nth-child(3) a:hover {
    box-shadow: 0 5px 10px #1DA1F2;
}  
.footer ul.social-follow li:nth-child(4) a:hover {
    box-shadow: 0 5px 10px #E4405F;
} 
.footer .copy-right {
    padding: 25px 0;
    border-top: 1px solid #ddd;
    font-size: 15px;
    font-weight: 300;
    color: #ddd;
}